---
layout: html
title: Steve
description: Description
---
<div class="logo"></div>
<div class="menu">
	<a href="./about" class="item">About</a>
	<a href="" class="item">Page1</a>
	<div class="item expand">Menu <div class="triangle"></div>
	</div>
	<ul class="expandable">
		<div class="triangle"></div>
		<li>Page</li>
		<li>Page</li>
		<li>Page</li>
		<li>Page</li>
	</ul>
</div>
<header>
	<div class="title">{{site.title}}</div>
	<div class="subtitle">{{site.description}}</div>
	<div class="container">
		<div class="rec1 rec"></div>
		<div class="rec2 rec"></div>
		<div class="rec3 rec"></div>
		<div class="rec4 rec"></div>
	</div>
</header>
<div class="content">
	<div class="articles">
		<h1>Articles</h1>
		<div class="list">
			{% assign rows = site.posts.size | divided_by: 2.0 | ceil %}
			{% for i in (1..rows) %}
				{% assign offset = forloop.index0 | times: 2 %}
				<div class="row">
					{% for post in site.posts limit:2 offset:offset %}
						<div class="article" link="{{post.url}}">
							<img src="{{post.image}}" alt="{{post.description}}">
							<p>{{post.title}}</p>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<footer>
	Copyright © 2019 Arthur Guiot. All rights reserved.
</footer>