<footer>
	<ul>
		<li><a href="{{site.github}}"><lunar-icon icon="github"></lunar-icon> GitHub.</a></li>
		<li><a href="{{site.twitter}}"><lunar-icon icon="twitter"></lunar-icon> Twitter.</a></li>
		<li><a href="{{site.discuss}}"><lunar-icon icon="discussion"></lunar-icon> Talk to us.</a></li>
	</ul>
	<div class="copyright">
		Copyright © {{ site.time | date: '%Y' }} {{ site.copyright }}. All rights reserved.
		<small>Made with <lunar-icon icon="heart">❤️</lunar-icon> using <a href="https://steve.arguiot.com">Steve</a></small>
	</div>
	
</footer>