@font-face {
	font-family: Apercu;
	font-style: italic;
	font-weight: 200;
	src: url(https://static.figma.com/blog/fonts/Apercu-LightItalic.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-LightItalic.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-LightItalic.ttf) format("truetype")
}

@font-face {
	font-family: Apercu;
	font-style: normal;
	font-weight: 200;
	src: url(https://static.figma.com/blog/fonts/Apercu-Light.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-Light.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-Light.ttf) format("truetype")
}

@font-face {
	font-family: Apercu;
	font-style: normal;
	font-weight: 400;
	src: url(https://static.figma.com/blog/fonts/Apercu-Regular.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-Regular.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-Regular.ttf) format("truetype")
}

@font-face {
	font-family: Apercu;
	font-style: italic;
	font-weight: 400;
	src: url(https://static.figma.com/blog/fonts/Apercu-RegularItalic.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-RegularItalic.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-RegularItalic.ttf) format("truetype")
}

@font-face {
	font-family: Apercu;
	font-style: normal;
	font-weight: 500;
	src: url(https://static.figma.com/blog/fonts/Apercu-Medium.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-Medium.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-Medium.ttf) format("truetype")
}

@font-face {
	font-family: Apercu;
	font-style: italic;
	font-weight: 500;
	src: url(https://static.figma.com/blog/fonts/Apercu-MediumItalic.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-MediumItalic.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-MediumItalic.ttf) format("truetype")
}

@font-face {
	font-family: Apercu-Mono;
	font-style: normal;
	font-weight: 400;
	src: url(https://static.figma.com/blog/fonts/Apercu-Mono.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-Mono.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-Mono.ttf) format("truetype")
}

* {
	z-index: 10;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: #111;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;

	.title {
		font-family: "Roboto Mono";
		font-style: normal;
		font-weight: normal;
		font-size: 144px;
	}

	.subtitle {
		font-family: "Apercu";
		font-size: 48px;
		line-height: 58px;
		display: flex;
		align-items: center;
		text-align: right;
	}

	.container {
		position: absolute;
		top: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 0;
	}

	.rec {
		width: 100px;
		height: 75vw;
		min-height: 130vh;
		transform: rotateZ(45deg);
	}

	.rec1 {
		background: #F24E1E;

	}

	.rec2 {
		background: #A259FF;
	}

	.rec3 {
		background: #1ABCFE;

	}

	.rec4 {
		background: #0ACF83;
	}

	.menu {
		position: fixed;
		top: 0;
		right: 0;
		height: 50px;
		// width: 100vw;
		// max-width: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		mix-blend-mode: exclusion;

		.item {
			margin: 50px;
			color: white;
			font-family: "Apercu";
			font-size: 24px;
			text-decoration: none;

			.triangle {
				display: inline-block;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;

				border-top: 17.32px solid #fff;
			}
		}
	}

	.logo {
		position: fixed;
		width: 65px;
		height: 65px;
		left: 30px;
		top: 25px;
		background-size: contain;
	}
}

.content {
	padding-top: 100px;
	padding: 10px;
	position: absolute;
	top: 100vh;
	width: 100vw;
	height: auto;
	background: #fff;
	.articles {
		background: white;
		max-width: 800px;
		width: 100vw;
		margin: 0 auto;
	
		h1 {
			font-family: "Apercu";
			font-size: 36px;
		}
	}
}
