@font-face {
	font-family: Apercu;
	font-style: italic;
	font-weight: 200;
	src: url(https://static.figma.com/blog/fonts/Apercu-LightItalic.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-LightItalic.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-LightItalic.ttf) format("truetype")
}

@font-face {
	font-family: Apercu;
	font-style: normal;
	font-weight: 200;
	src: url(https://static.figma.com/blog/fonts/Apercu-Light.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-Light.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-Light.ttf) format("truetype")
}

@font-face {
	font-family: Apercu;
	font-style: normal;
	font-weight: 400;
	src: url(https://static.figma.com/blog/fonts/Apercu-Regular.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-Regular.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-Regular.ttf) format("truetype")
}

@font-face {
	font-family: Apercu;
	font-style: italic;
	font-weight: 400;
	src: url(https://static.figma.com/blog/fonts/Apercu-RegularItalic.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-RegularItalic.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-RegularItalic.ttf) format("truetype")
}

@font-face {
	font-family: Apercu;
	font-style: normal;
	font-weight: 500;
	src: url(https://static.figma.com/blog/fonts/Apercu-Medium.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-Medium.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-Medium.ttf) format("truetype")
}

@font-face {
	font-family: Apercu;
	font-style: italic;
	font-weight: 500;
	src: url(https://static.figma.com/blog/fonts/Apercu-MediumItalic.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-MediumItalic.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-MediumItalic.ttf) format("truetype")
}

@font-face {
	font-family: Apercu-Mono;
	font-style: normal;
	font-weight: 400;
	src: url(https://static.figma.com/blog/fonts/Apercu-Mono.eot#iefix) format("embedded-opentype"), url(https://static.figma.com/blog/fonts/Apercu-Mono.woff2) format("woff2"), url(https://static.figma.com/blog/fonts/Apercu-Mono.ttf) format("truetype")
}

* {
	z-index: 10;
}

:root {
	color-scheme: light dark;
	--text-color: #111;
	--footer: #fafafa;
	--white: white;
	--opposite: #111;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--footer: #000;
		--white: #1e1e1e;
		--opposite: #fff;
	}
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	height: 50px;
	// width: 100vw;
	// max-width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	// mix-blend-mode: exclusion;
	z-index: 100;

	.item {
		display: inline;
		margin: 50px;
		color: #fff;
		font-family: "Apercu";
		font-size: 24px;
		text-decoration: none;
		transition: all 500ms ease-in-out;
		cursor: pointer;

		.triangle {
			transition: all 500ms ease-in-out;
			display: inline-block;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;

			border-top: 17.32px solid #fff;
		}
	}

	.expandable {
		display: none;
		transition: all 500ms ease-in-out;
		position: fixed;
		top: 75px;
		right: 40px;
		width: 120px;
		background: #111;
		border: 3px #fff solid;
		padding-top: 20px;
		padding-bottom: 20px;

		li {
			font-family: "Roboto Mono";
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;
		}

		.triangle {
			display: inline-block;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;

			border-top: 17.32px solid #fff;
			transform: rotate(180deg);
			position: fixed;
			top: 75px;
			right: 70px;
		}
	}
}

.logo {
	position: fixed;
	width: 65px;
	height: 65px;
	left: 30px;
	top: 25px;
	background-size: contain;
	z-index: 100;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: var(--text-color);
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	position: relative;

	.title {
		font-family: "Roboto Mono";
		font-style: normal;
		font-weight: normal;
		font-size: 144px;
	}

	.subtitle {
		font-family: "Apercu";
		font-size: 48px;
		line-height: 58px;
		display: flex;
		align-items: center;
		text-align: right;
	}

	.container {
		position: absolute;
		top: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 5;
	}

	.rec {
		width: 100px;
		height: 75vw;
		min-height: 130vh;
		transform: rotateZ(45deg);
	}

	.rec1 {
		background: #F24E1E;

	}

	.rec2 {
		background: #A259FF;
	}

	.rec3 {
		background: #1ABCFE;

	}

	.rec4 {
		background: #0ACF83;
	}
}

.content {
	padding-top: 100px;
	padding: 10px;
	width: 100vw;
	background: var(--white);
	position: relative;
	border-bottom: 1px solid #eee;

	.articles {
		background: var(--white);
		max-width: 1080px;
		width: 100vw;
		margin: 0 auto;
		z-index: 11;

		h1 {
			font-family: "Apercu";
			font-size: 36px;
			color: var(--text-color)
		}

		.list {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.row {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				flex-wrap: wrap;

				&:nth-child(even) {
					flex-direction: row-reverse;
				}

				.article {
					max-width: 90vw;
					width: 400px;
					height: 314px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					background: var(--text-color);
					border: 5px solid var(--text-color);
					margin: 5px;
					transition: all 250ms ease-in-out;
					cursor: pointer;

					&:hover {
						transform: scale(1.1);
						z-index: 11;
					}

					img {
						width: 100%;
						height: 250px;
						object-fit: cover;
					}

					p {
						height: 64px;
						font-family: "Roboto Mono";
						font-style: normal;
						font-weight: normal;
						font-size: 18px;
						line-height: 21px;
						color: var(--white);
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
						text-align: center;
					}

					&:nth-child(even) {
						width: 600px;
						max-width: 90vw;
						flex-direction: row-reverse;

						img {
							width: 314px;
							height: 314px;
						}

						p {
							font-weight: bold;
							font-size: 36px;
							line-height: 42px;
							text-transform: uppercase;
							color: var(--white);
							text-overflow: ellipsis;
							word-wrap: break-word;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

footer {
	position: fixed;
	bottom: 0;
	z-index: 0;
	width: 100vw;
	height: 300px;
	background: var(--footer);
	font-family: "Apercu";
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-color)
}

body {
	margin-bottom: 300px;
	background: var(--white);
}


/* Default styles for everything.*/

.hero {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 9;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #fff;
	background-size: cover;
	background-position: center;
	filter: saturate(180%);
	transform: scale(1.1);
}

article {
	width: 100vw;
	font-family: 'Lexend Deca', sans-serif;
	color: var(--text-color);
	position: relative;
	background: var(--white);
	opacity: 0;
	padding-bottom: 50vh;

	main.container {
		position: relative;
		top: 50vh;
		max-width: 960px;
		width: calc(100vw - 10px);
		margin: 0 auto;
		padding-top: 100px;
		padding-bottom: 100px;

		p.date {
			opacity: .5;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 500;
		}

		a {
			color: #0366d6;
		}

		img {
			max-width: 960px;
			width: calc(100vw / 1.1);
			transform: scale(1.1);
			margin-top: 10%;
			margin-bottom: 10%;
		}

		blockquote {
			background-color: #eee;
			padding: 0px 52px;
			margin: 8px 0;
			border-radius: 4px;
			position: relative;
			overflow: hidden;
			font-size: 18px;

			&::before,
			&::after {
				content: '“';
				color: #000;
				font-size: 120px;
				position: absolute;
				line-height: 1;
				opacity: 0.2;
			}

			&::before {
				top: -16px;
				left: -4px;
			}

			&::after {
				bottom: -16px;
				right: -4px;
				transform-origin: center;
				transform: rotate(180deg);
			}
		}
	}
}


@import "syntax.scss"