* {
	z-index: 10;
}

:root {
	color-scheme: light dark;
	--text-color: #111;
	--footer: #fafafa;
	--white: white;
	--opposite: #111;
	--semi-white: #eee;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--footer: #000;
		--white: #1e1e1e;
		--opposite: #fff;
		--semi-white: #333;
	}
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	height: 50px;
	// width: 100vw;
	// max-width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	// mix-blend-mode: exclusion;
	z-index: 100;

	.item {
		display: inline;
		margin: 50px;
		color: #fff;
		font-family: "Apercu";
		font-size: 24px;
		text-decoration: none;
		transition: all 500ms ease-in-out;
		cursor: pointer;

		.triangle {
			transition: all 500ms ease-in-out;
			display: inline-block;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;

			border-top: 17.32px solid #fff;
		}
	}

	.expandable {
		display: none;
		transition: all 500ms ease-in-out;
		position: fixed;
		top: 75px;
		right: 40px;
		width: 120px;
		background: #111;
		border: 3px #fff solid;
		padding-top: 20px;
		padding-bottom: 20px;
		color: var(--white);

		li {
			font-family: "Roboto Mono";
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;

			a {
				color: inherit;
				text-decoration: none;
			}
		}

		.triangle {
			display: inline-block;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;

			border-top: 17.32px solid #fff;
			transform: rotate(180deg);
			position: fixed;
			top: 75px;
			right: 70px;
		}
	}
}

.logo {
	position: fixed;
	width: 65px;
	height: 65px;
	left: 30px;
	top: 25px;
	background-size: contain;
	z-index: 100;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	background: var(--text-color);
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	position: relative;

	.right {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 50vw;
		height: 100vh;

		.title {
			font-family: "Roboto Mono";
			font-style: normal;
			font-weight: normal;
			font-size: 144px;
		}

		.subtitle {
			font-family: "Apercu";
			font-size: 48px;
			line-height: 58px;
			display: flex;
			align-items: center;
			text-align: center;
			max-width: 650px;
		}
	}

	.left {
		background: var(--white);
		top: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 5;
		width: 50vw;
		min-width: 400px;
		height: 100vh;
		img {
			width: calc(50vw - 50px);
			height: calc(100vh - 300px);
			object-fit: cover;
		}
		h1.article {
			font-family: "Apercu";
			font-size: 36px;
			color: var(--text-color);
			text-transform: capitalize;
			text-align: center;
		}
		a.readmore {
			background: var(--text-color);
			color: var(--white);
			width: 200px;
			height: 50px;
			text-decoration: none;
			text-align: center;
			line-height: 50px;
			font-family: "Apercu";
			transition: all 100ms ease-in-out;
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}

.content {
	padding-top: 100px;
	padding: 10px;
	width: 100vw;
	background: var(--white);
	position: relative;
	border-bottom: 1px solid #eee;

	.articles {
		background: var(--white);
		max-width: 1080px;
		width: 100vw;
		margin: 0 auto;
		z-index: 11;

		h1 {
			font-family: "Apercu";
			font-size: 36px;
			color: var(--text-color)
		}

		.search {
			position: relative;
			color: var(--white);
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;

			lunar-icon {
				font-size: 24px;
				background: var(--opposite);
				width: 62px;
				height: 62px;
				text-align: center;
				line-height: 60px;
				position: relative;
				top: 66px;
				left: 29px;
				z-index: 11;
			}

			input {
				font-family: "Apercu";
				font-size: 24px;
				padding: 16px 32px;
				padding-left: 75px;
				border: 5px solid var(--opposite);
				-webkit-appearance: unset;
				border-radius: 0;
				background: var(--white);
				color: var(--opposite);
				box-sizing: border-box;
				width: calc(100% - 50px);
				margin: 0 auto;
			}
		}
	}

	.list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.row {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;

			&:nth-child(even) {
				flex-direction: row-reverse;
			}

			.article {
				max-width: 90vw;
				width: 400px;
				height: 314px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				background: var(--text-color);
				border: 5px solid var(--text-color);
				margin: 5px;
				transition: all 100ms ease-in-out;
				cursor: pointer;

				&:hover {
					transform: scale(1.05);
					z-index: 11;
				}

				img {
					width: 100%;
					height: 250px;
					object-fit: cover;
				}

				p {
					height: 64px;
					font-family: "Roboto Mono";
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 21px;
					color: var(--white);
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					text-align: center;
					width: 100%;
				}

				&:nth-child(even) {
					width: 600px;
					max-width: 90vw;
					flex-direction: row-reverse;

					img {
						width: 314px;
						height: 314px;
					}

					p {
						font-weight: bold;
						font-size: 36px;
						line-height: 42px;
						text-transform: uppercase;
						color: var(--white);
						text-overflow: ellipsis;
						word-wrap: break-all;
						text-align: center;
						white-space: pre-wrap;
						height: auto;
					}
				}
			}
		}
	}
}

footer {
	position: fixed;
	bottom: 0;
	z-index: 0;
	width: 100vw;
	height: 300px;
	background: var(--footer);
	font-family: "Apercu";
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	color: var(--text-color);

	ul {
		li {
			opacity: 0.6;
			font-size: 24px;

			a {
				color: inherit;
				text-decoration: none;
			}
		}
	}

	.copyright {
		text-align: right;

		small {
			display: block;
			opacity: 0.6;

			a {
				color: inherit;
			}
		}
	}
}

html {
	overflow-x: hidden;
}

body {
	margin-bottom: 300px;
	background: var(--white);
	overflow-x: hidden;
}


/* Default styles for everything.*/
.scroll {
	font-size: 64px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	animation: 2s ease 0s scroll infinite;
}

@keyframes scroll {

	0%,
	100% {
		transform: translate(-50%, 0);
	}

	50% {
		transform: translate(-50%, 32px);
	}
}

@keyframes scroll-m {

	0%,
	100% {
		bottom: 192px
	}

	50% {
		bottom: 160px
	}
}

.hero {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 9;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #fff;
	background-size: cover;
	background-position: center;
	filter: saturate(180%);
	transform: scale(1.1);
}

h1.maintitle {
	width: 100vw;
	text-align: center;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 68px;
	font-weight: 500;
	color: var(--white);
	text-shadow: 0px 0px 64px var(--text-color);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

article {
	width: 100vw;
	font-family: 'Lexend Deca', sans-serif;
	color: var(--text-color);
	position: relative;
	background: var(--white);
	opacity: 0;
	padding-bottom: 50vh;

	main.container {
		position: relative;
		top: 50vh;
		max-width: 800px;
		width: calc(100vw - 50px);
		margin: 0 auto;
		padding-top: 100px;
		padding-bottom: 100px;
		font-size: 18px;
		text-align: justify;
		min-height: 100vh;

		h1.title {
			font-family: 'New York', serif;
			font-size: 52px;
		}

		p.date {
			opacity: .5;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 500;
		}

		a {
			color: #0366d6;
		}

		img {
			max-width: 800px;
			width: calc(100vw / 1.1);
			transform: scale(1.1);
			margin-top: 10%;
			margin-bottom: 10%;
		}

		blockquote {
			background-color: var(--semi-white);
			padding: 0px 52px;
			margin: 8px 0;
			border-radius: 4px;
			position: relative;
			overflow: hidden;
			font-size: 18px;

			&::before,
			&::after {
				content: '“';
				color: #000;
				font-size: 120px;
				position: absolute;
				line-height: 1;
				opacity: 0.2;
			}

			&::before {
				top: -16px;
				left: -4px;
			}

			&::after {
				bottom: -16px;
				right: -4px;
				transform-origin: center;
				transform: rotate(180deg);
			}
		}
	}
}


@import "syntax.scss";

// Media Queries

@media (max-width: 740px) {
	.logo {
		width: 45px;
		height: 45px;
		left: 10px;
		top: 25px;
	}

	.menu {
		.item {
			margin: 10px;
			font-size: 14px;
		}

		.expandable {
			width: 100px;
			right: 20px;

			.triangle {
				right: 30px;
			}

			li {
				font-size: 14px;
				line-height: 15px;
			}
		}
	}

	header {
		.left {
			display: none;
		}
		.right {
			.title {
				font-size: 72px;
			}
	
			.subtitle {
				font-size: 28px;
			}
		}
	}

	.content {
		.articles {
			.search {
				lunar-icon {
					left: 5px;
				}

				input {
					width: calc(100vw - 30px);
					margin: 0;
				}

			}
		}

		.list {
			.row {
				justify-content: left !important;

				&:nth-child(even) {
					flex-direction: row;
				}

				.article {
					margin: 0;
					margin-bottom: 5px;

					&:nth-child(even) {
						max-width: 90vw;
						width: 400px;
						height: 314px;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						background: var(--text-color);
						border: 5px solid var(--text-color);
						margin: 0;
						margin-bottom: 5px;

						img {
							width: 100%;
							height: 250px;
							object-fit: cover;
						}

						p {
							height: 64px;
							font-family: "Roboto Mono";
							font-style: normal;
							font-weight: normal;
							font-size: 18px;
							line-height: 21px;
							color: var(--white);
							text-transform: none;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							text-align: center;
						}
					}
				}
			}
		}
	}

	footer .copyright {
		text-align: center;
	}
}